.color-row{
    margin-bottom: 15px;
    .color-cell{
        div{
            padding: 15px;
            font-size: 14px;
        }
        div.col-md-2{
            div{
                height: 200px;
                padding: 15px;
            }
        }
    }
}