@import "scss/kmsh";

// Headings
h1{
    @extend .kmsh-h1;
}
h2{
    @extend .kmsh-h2;
}
h3{
    @extend .kmsh-h3;
}
h4{
    @extend .kmsh-h4;
}
h5{
    @extend .kmsh-h5;
}
.heading-bull{
    @extend .kmsh-heading-bull;
}

// Typography
body{
    @extend .kmsh-default;
}
p{
    @extend .kmsh-p;
}
strong{
    @extend .kmsh-strong;
}
div.header-desc{
    @extend .kmsh-header-description;
}

// Colors
.color-1{
    @extend .kmsh-main-1;
}
.color-2{
    @extend .kmsh-accent-2;
}
.color-3{
    @extend .kmsh-accent-3;
}
.color-4{
    @extend .kmsh-accent-4;
}
.color-5{
    @extend .kmsh-accent-5;
}
.color-6{
    @extend .kmsh-accent-6;
}
.color-7{
    @extend .kmsh-accent-7;
}
.color-8{
    @extend .kmsh-gray-1;
}
.color-9{
    @extend .kmsh-gray-2;
}

// Background Colors
.bg-1{
    @extend .kmsh-bg-main-1;
    color: white;
}
.bg-2{
    @extend .kmsh-bg-accent-2;
    color: white;
}
.bg-3{
    @extend .kmsh-bg-accent-3;
    color: white;
}
.bg-4{
    @extend .kmsh-bg-accent-4;
    color: white;
}
.bg-5{
    @extend .kmsh-bg-accent-5;
    color: white;
}
.bg-6{
    @extend .kmsh-bg-accent-6;
    color: white;
}
.bg-7{
    @extend .kmsh-bg-accent-7;
    color: black;
}
.bg-8{
    @extend .kmsh-bg-gray-1;
    color: black;
}
.bg-9{
    @extend .kmsh-bg-gray-2;
    color: black;
}

// Elements
/// Box
div.box{
    @extend .kmsh-box;
}
div.tagline{
    @extend .kmsh-tagline;
}

// Lists
ul.list{
    @extend .kmsh-list;
    li{
        @extend .kmsh-list-item;
    }
}

//buttons
.btn-yellow{
    @extend .kmsh-btn-yellow;
}
.btn-blue{
    @extend .kmsh-btn-blue;
}
.btn-red{
    @extend .kmsh-btn-red;
}
.btn-green{
    @extend .kmsh-btn-green;
}

.btn-yellow.active{
    @extend .kmsh-btn-yellow.active;
}
.btn-blue.active{
    @extend .kmsh-btn-blue.active;
}
.btn-red.active{
    @extend .kmsh-btn-red.active;
}
.btn-green.active{
    @extend .kmsh-btn-green.active;
}

.btn-yellow-fill.active{
    @extend .kmsh-btn-yellow-fill.active;
}
.btn-blue-fill.active{
    @extend .kmsh-btn-blue-fill.active;
}
.btn-red-fill.active{
    @extend .kmsh-btn-red-fill.active;
}
.btn-green-fill.active{
    @extend .kmsh-btn-green-fill.active;
}