// ------ Declaration of the variables ------
// Colors
$c-kingsblue:#3150A3;
$c-forestgreen:#058461;
$c-frozenblue: #51C7E0;
$c-orangest: #F47954;
$c-orange: #F89B45;
$c-okernutyellow: #EFB539;
$c-postityellow:#F5F19B;
$c-darkergray: #EFEFF6;
$c-lightgray: #F6F4F4;

// Fonts
$f-playfair: 'Playfair Display', serif;
$f-nunito: 'Nunito Sans', sans-serif;

$f-boldweight: 1000;

// ------ Implementation of the variables ------
// Colors
$c-main-1: $c-kingsblue;
$c-accent-2: $c-forestgreen;
$c-accent-3: $c-frozenblue;
$c-accent-4: $c-orangest;
$c-accent-5: $c-orange;
$c-accent-6: $c-okernutyellow;
$c-accent-7: $c-postityellow;
$c-gray-1: $c-darkergray;
$c-gray-2: $c-lightgray;

// Fonts
$f-heading: $f-playfair;
$f-body: $f-nunito;